<div class="container">
    <h3>
        MIS SKILLS
    </h3>
    <div class="wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="skillbar" data-percent="60%">
                        <div class="skillbar-title">HTML</div>
                        <div class="skill-bar-percent">60%</div>
                        <div class="skillbar-bar" style="width: 60%;"></div>
                    </div>
    
                    <div class="skillbar" data-percent="50%">
                        <div class="skillbar-title">CSS</div>
                        <div class="skill-bar-percent">50%</div>
                        <div class="skillbar-bar" style="width: 50%;"></div>
                    </div>
    
                    <div class="skillbar" data-percent="40%">
                        <div class="skillbar-title">JavaScript</div>
                        <div class="skill-bar-percent">40%</div>
                        <div class="skillbar-bar" style="width: 40%;"></div>
                    </div>
    
                    <div class="skillbar" data-percent="70%">
                        <div class="skillbar-title">GIT</div>
                        <div class="skill-bar-percent">70%</div>
                        <div class="skillbar-bar" style="width: 70%;"></div>
                    </div>

                    <div class="skillbar" data-percent="30%">
                        <div class="skillbar-title">MySql</div>
                        <div class="skill-bar-percent">30%</div>
                        <div class="skillbar-bar" style="width: 30%;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>