<div id="proyectos" class="container">
    <h3>
        PROYECTOS
    </h3>
    <div class="row mt-2">
        <div class="col-sm-12 col-md-4 col-lg-4 py-3">
            <div class="card">
                <h4>
                    elmejorenvio.com.ar
                </h4>
                <br>
                <div class="img">
                    <a href="https://www.elmejorenvio.com.ar">
                    <img src="../../../assets/portadaEME.jpg" alt=""></a>
                </div><br>
                <p>
                    Pagina Web dedicada al intercambio de servicios logisticos.
                    (Realizada en HTML-CSS-JS/NodeJS-SpringBoot-Sql)
                </p>
            </div>
        </div><div class="col-sm-12 col-md-4 col-lg-4 py-3">
            <div class="card">
                <h4>
                    App-Contactos
                </h4>
                <br>
                <div class="img">
                    <a href="https://github.com/hirrei86/app-contacto">
                    <img src="../../../assets/app-contacto.png" alt=""></a>
                </div><br>
                <p>
                    App de agenda de contactos basica (Realizada en Express, Handlebars,
                    JavaScript y CSS)
                </p>
            </div>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 py-3">
            <div class="card">
                <h4>
                    Proyecto integrador
                </h4>
                <br>
                <div class="img">
                    <a href="https://ap-fronthr.web.app/home">
                    <img src="../../../assets/portadaPortfolio.jpg" alt=""></a>
                </div><br>
                <p>
                    Porfolio realizado como proyecto integrador.
                    (Realizado en HTML-CSS-JS/NodeJS-SpringBoot-Sql)
                </p>
            </div>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 py-3">
            <div class="card">
                <h4>
                    Rectificaciones Reinoso
                </h4>
                <br>
                <div class="img">
                    <a href="https://rectificacionesrei.wixsite.com/tapasdecilindros">
                    <img src="../../../assets/portadaRectificacionesReinoso.jpg" alt=""></a>
                </div><br>
                <p>
                    Pagina Web para rectificadora de motores.
                    (Realizada con WIX)
                </p>
            </div>
        </div>
        
    </div>
</div>