<div class="container">
    <nav class="navbar navbar-light">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div>
                <a button id="hamb" class="btn btn-outline-light" type="button" href="#">inicio
                </a>
            </div>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#proyectos">PROYECTOS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#estudios">MIS ESTUDIOS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#experiencias">MIS EXPERIENCIAS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#skills">SKILLS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#contacto">CONTACTO</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>