<div id="experiencias" class="container">
    <h3>
        MIS EXPERIENCIAS
    </h3>
    <br>
    <div id="est" class="container">
        <div>
            <img src="../../../assets/imgprog.jpg" alt="">
        </div>
        <div>
            <h5>
                Full Stack Developer Jr.
            </h5>
            <P id="p1">
               Autonomo
            </P>
            <P>
                Desarrollo de aplicaciones web
            </P>
            <P>
                2021 - Actualidad
            </P>
        </div>
    </div>
    <br>
    <div id="est" class="container">
        <div>
            <img src="../../../assets/imgocasa.jpg" alt="">
        </div>
        <div>
            <h5>
               Operaciones de Logistica
            </h5>
            <P id="p1">
                OCASA - Profesional independiente
            </P>
            <P>
                Logistica
            </P>
            <P>
                2021 - Actualidad
            </P>
        </div>
    </div>
    <br>
    <div id="est" class="container">
        <div>
            <img src="../../../assets/imgfm.jpg" alt="">
        </div>
        <div>
            <h5>
                Operador Multiple
            </h5>
            <P id="p1">
                FEDERAL MOGUL ARGENTINA
            </P>
            <P>
                Operaciones varias
            </P>
            <P>
                2008 - 2019
            </P>
        </div>
    </div>
</div>