<div class="container">
    <h3>
        MIS ESTUDIOS
    </h3>
    <br>
    <div id="est" class="container">
        <div>
            <img src="../../../assets/argprog.jpg" alt="">
        </div>
        <div>
            <h5>
                Argentina Programa
            </h5>
            <P id="p1">
                Full Stack Developer Jr.
            </P>
            <P>
                Desarrollo de aplicaciones web - (HTML-CSS-JS/Node js-SpringBoot/SQL)
            </P>
            <P>
                2021 - 2022
            </P>
        </div>
    </div>
    <br>
    <div id="est" class="container">
        <div>
            <img src="../../../assets/argprog.jpg" alt="">
        </div>
        <div>
            <h5>
                Argentina Programa
            </h5>
            <P id="p1">
                #SeProgramar
            </P>
            <P>
                Introduccion en la programacion
            </P>
            <P>
                2021 - 2021
            </P>
        </div>
    </div>
    <br>
    <div id="est" class="container">
        <div>
            <img src="../../../assets/imgunlp.jpg" alt="">
        </div>
        <div>
            <h5>
                Universidad Nacional de La Plata
            </h5>
            <P id="p1">
                Abogacia (incompleto)
            </P>
            <P>
                Ciencias Juridicas y Sociales
            </P>
            <P>
                2005 - incompleto
            </P>
        </div>
    </div>
</div>