<div id="contacto" class="container">
    <h3>
        CONTACTO
    </h3>
    <form class="row g-3" name="consulta-porfolio" netlify>
        <div class="col-md-6">
            <label for="inputNombre" class="form-label">Nombre</label>
            <input type="text" class="form-control" name="Nombre" required>
        </div>
        <div class="col-md-6">
            <label for="inputApellido" class="form-label">Apellido</label>
            <input type="text" class="form-control" name="Apellido" required>
        </div>
        <div class="col-md-6">
            <label for="inputEmail4" class="form-label">Email</label>
            <input type="email" class="form-control" name="Email" required>
        </div>
        <div class="col-md-6">
            <label for="inputTelefono" class="form-label">Telefono</label>
            <input type="telefono" class="form-control" name="Telefono" required>
        </div>
        <div class="col-md-6">
            <label for="inputCity" class="form-label">Ciudad</label>
            <input type="text" class="form-control" name="Ciudad" required>
        </div>
        <div class="col-md-4">
            <label for="inputState" class="form-label">Provincia</label>
            <select name="Provincia" class="form-select" required>
                <option selected>Buenos Aires</option>
                <option>.</option>
            </select>
        </div>
        <div class="col-md-2">
            <label for="inputZip" class="form-label">Código postal</label>
            <input type="text" name="Codigo postal" class="form-control" id="Codigo-postal" required>
        </div>
        <div class="col-12">
            <button type="submit" class="btn btn-primary">Realizar Consulta</button>
        </div>
    </form>
</div>